<form action="/data" method="post">
  <label for="team_name">Enter fullname token: </label></br>
  <input id="follname_token" type="text" name="fullname_token" placeholder="Fullname token"></br>
  <label for="team_name">Enter shortname(3-4 symbols): </label></br>
  <input id="follname_token" type="text" name="shortname_token" placeholder="Shortname token"></br>
  <label for="team_name">Enter number of tokens: </label></br>
  <input id="follname_token" type="text" name="number_of_tokens" placeholder="Number of tokens"></br>
  <label for="team_name">Enter ICO name: </label></br>
  <input id="follname_token" type="text" name="ico_name" placeholder="ICO name"></br>
  <label for="team_name">Enter token cost in tQKC: </label></br>
  <input id="follname_token" type="text" name="token_cost" placeholder="Token cost"></br>
  <label for="team_name">Enter ICO start(date or block number): </label></br>
  <input id="follname_token" type="text" name="ico_start" placeholder="ICO start"></br>
  <label for="team_name">Enter target address for tQKC: </label></br>
  <input id="follname_token" type="text" name="target_address" placeholder="Target address"></br>
  <input type="submit" value="OK">
</form>
